* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Roboto,sans-serif;

    /*font-family: 'Open Sans', sans-serif;*/
    font-size: 16px;
    color: #000;
    letter-spacing: .3px;
    font-weight: 400;
}

img {
    max-width: 100%
}

.wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 100vh;
    background-color: #ececec;
    padding: 15px
}

.btn {
    padding: 8px 20px;
    border: 2px solid #ad41e2;
    font-size: 14px;
    color: #ad41e2;
    background-color: transparent;
    border-radius: 30px;
    text-transform: uppercase;
    cursor: pointer;
    outline: 0;
    -webkit-transition: background-color .4s,color .4s;
    -o-transition: background-color .4s,color .4s;
    -moz-transition: background-color .4s,color .4s;
    transition: background-color .4s,color .4s
}

.btn:hover {
    color: #fff;
    background-color: #ad41e2
}

.btn span {
    font-size: inherit;
    color: #d50000
}

.news-list {
    padding: 30px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2)
}

.news-list__wrapp {
    width: 50%;
    padding: 15px
}

.news-list__head {
    color: #ad41e2;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}

.news-post {
    background-color: #fefbff;
    padding: 30px;
    border: 2px solid #ad41e2;
}

.news-post:not(:last-child) {
    margin-bottom: 30px;
}

.news-post__author {
    text-transform: uppercase;
    color: #ad41e2
}

.news-post__author span, .news-post__date span {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 700;
    font-style: italic;
    color: #000;
}

.news-post__date {
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #ad41e2
}


.news-post__text {
    margin-bottom: 15px;
    text-align: justify
}

.news-post__img {
    margin-bottom: 15px
}

.constructor {
    margin-bottom: 30px;
    padding: 30px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2)
}

.constructor__wrapp {
    width: 50%;
    padding: 15px
}

.constructor__wrap-input {
    margin-bottom: 25px;
    position: relative
}

.constructor__wrap-input.input-blur label {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 5px
}

.constructor__wrap-input input, input.constructor__wrap-input {
    display: block;
    width: 100%;
    padding: 5px;
    padding-bottom: 10px;
    border: none;
    border-bottom: 2px solid #ad41e2;
    outline: 0;
    background-color: transparent
}

.constructor__wrap-input label {
    display: block;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s
}

.constructor__wrap-input label.label-file {
    cursor: pointer
}

.constructor__wrap-input label.label-file:hover {
    text-shadow: 0 0 1px
}

.constructor__wrap-input textarea, textarea.constructor__wrap-input {
    display: block;
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 2px solid #ad41e2;
    outline: 0;
    resize: none;
    background-color: transparent
}

.constructor__wrap-input.content label {
    color: #ad41e2;
    font-size: 12px;
    margin-top: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%)
}

.constructor__wrap {
	padding-top: 30px;
}

.constructor__comment {
    padding-top: 30px
}


.output_comments.news-post {
	padding: 5px;
    margin-left: 135px;
    background: #fff;
	border: 2px solid #ad41e2;
	margin-bottom: 5px;
}

.hidden {
	display: none;
}

.offset--top-default {
    margin-top: 15px;
}